.main {
    background-color: #252836;
    max-width: 833px;
    padding-top: 30px;
    padding-left: 10px;
}

.main__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main__title {
    color: white;

    h2 {
        font-weight: 600;
        font-size: 28px;
        line-height: 140%;
    }

    h4 {
        margin-top: 3px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #E0E6E9;
    }
}

.label_inp {
    position: relative;

    input {
        color: white;
        background: #2D303E;
        border: 1px solid #393C49;
        border-radius: 8px;
        padding: 13px 14px 13px 42px;

        &:focus {
            outline: none;
        }
    }

    img {
        position: absolute;
        left: 12px;
        bottom: 28%;
    }
}

.menu__nav {
    margin-top: 22px;
    padding-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #393C49;
    border-radius: 2.7%;

    .btn {
        cursor: pointer;
        background-color: inherit;
        border: none;
        padding: 5px;
        color: #fff;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        position: relative;
        &::before{
            opacity: 0;
            content: '';
            display: block;
            width: 60%;
            height: 3px;
            background-color: #EA7C69;
            position: absolute;
            bottom: -14px;
            border-radius: 3px;
            transition: all 0.3s;
        }
        &::first-letter {
            text-transform: uppercase;
        }

        &:hover {
            color: #EA7C69;
            transition: all 0.3s;
        }
    }
}
.tab_act{
    color: #EA7C69 !important;
    position: relative;
    &::before{
        opacity: 1 !important;
        content: '';
        display: block;
        width: 60%;
        height: 3px;
        background-color: #EA7C69;
        position: absolute;
        bottom: -14px;
        border-radius: 3px;
        // transition: all 1s;
    }
}

.menu__subtitle {
    margin-top: 22px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        color: #fff;
    }
    .btn_select {
        padding: 14px 14px 14px 44px;
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        color: #FFFFFF;
        background: #1F1D2B;
        border: 1px solid #393C49;
        border-radius: 8px;
        transition: all 0.3s;
        &:hover{
            color: #EA7C69;
        }
    }
}

.main__list {
    padding-top: 20px;
    height: 388px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    overflow-y: auto;
}

.main_items {
    margin-top: 55px;
    width: 192px;
    background: #1F1D2B;
    border-radius: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 24px;

    img {
        margin-top: -36px;
        width: 150px;
        border-radius: 50%;
        height: 150px;
        object-fit: cover;
    }

    b {
        width: 144px;
        margin-top: 24px;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        text-align: center;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    span {
        margin-top: 8px;
        color: white;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
    }

    .card__left {
        color: #ABBBC2;

        span {
            color: #ABBBC2;
        }
    }
}