.side {
    width: 104px;    
    display: flex;
    border-radius: 16px;
    flex-direction: column;
    background-color:  #1F1D2B;
}
.side__logo {
    position: relative;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        background: #eb956a49;
        border-radius: 12px; 
        img {  
            padding: 12px;
        }
    }
}
.side__list {
    margin-left: 12px;
}
.side__item a{
    display: block;
    padding: 18px;
}
.side__item--active a{
    display: block;
    padding: 18px;
    background: #EA7C69;
    box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
    border-radius: 8px;
}
.side__item{
    margin-top: 22px;
    padding: 13px 24px 13px 12px;
    position: relative;
}
.side__item:hover{
    padding: 13px 24px 13px 12px;
    background: #252836;
    border-radius: 12px 0px 0px 12px;
}
.side__item--active {
    padding: 13px 24px 13px 12px;
    background: #252836;
    border-radius: 12px 0px 0px 12px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(64, 56, 107, 0.3);
  }
  ::-webkit-scrollbar {
    width: 6px;
    height: 3px;
    background-color: #bd888800;
    border-radius: 10px;
  }
// .side__logo::before {
//     content: '';
//     width: 12px;
//     height: 12px;
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     background-image: url('../../assets/img/burchak1.png');
// }
// .side__item:nth-child(2):after {
//     content: '';
//     width: 12px;
//     height: 12px;
//     position: absolute;
//     top: -1.3px;
//     right: 0;
//     background-image: url('../../assets/img/burchak2.png');
// }