* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Barlow', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #252836;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
ul{
    list-style: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #2a2d3be1;
}
::-webkit-scrollbar {
  width: 4px;
  height: 3px;
  background-color:#252836;
  border-radius: 10px;
}